<ion-header>
  <ion-toolbar>
    <ion-title>
      Ricardo De la Torre Álvarez
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-grid>
      <ion-row style="font-weight: bold;">
        <ion-col >
          <div style="color: #282A58">
            Nombre
          </div>
        </ion-col>
        <ion-col>
          <div style="color: #282A58" >
            Nacionalidad
          </div>
        </ion-col>
        <ion-col>
          <div style="color: #282A58">
            Edad
          </div>
        </ion-col>
        <ion-col>
          <div style="color: #282A58">
            Foto
          </div>
        </ion-col>
      </ion-row>

      <ion-row >
        <ion-col>
          <div style = "font-weight: bold; color: #21368F">
            Ricardo De la Torre Álvarez
          </div>
        </ion-col>
        <ion-col>
          <div>
            Huichol
          </div>
        </ion-col>
        <ion-col>
          <div style="text-align: center;" >
            12
          </div>
        </ion-col>
        <ion-col>
          <div style="width: 100px;">
            <img src="https://pbs.twimg.com/media/EMLPOGwU4AAz7pz.jpg">
          </div>
        </ion-col>
      </ion-row>

      <ion-row >
        <ion-col>
          <div style = "font-weight: bold; color: #115222" >
            Ricardo De la Torre Álvarez
          </div>
        </ion-col>
        <ion-col>
          <div >
            Mexica
          </div>
        </ion-col>
        <ion-col>
          <div style="text-align: center;"  >
            26
          </div>
        </ion-col>
        <ion-col>
          <div style="width: 100px;" >
            <img src="http://www.wikimexico.com/storage/app/uploads/public/559/68d/0d6/55968d0d6a815928119733.jpg">
          </div>
        </ion-col>
      </ion-row>

      <ion-row >
        <ion-col>
          <div style = "font-weight: bold; color: #710000" >
            Ricardo De la Torre Álvarez
          </div>
        </ion-col>
        <ion-col>
          <div >
            Maya
          </div>
        </ion-col>
        <ion-col>
          <div style="text-align: center;" >
            18
          </div>
        </ion-col>
        <ion-col>
          <div style="width: 100px;">
            <img src="https://www.indymetalvault.com/wp-content/uploads/2018/04/OSj43Zl.png">
          </div>
        </ion-col>
      </ion-row>
      
    </ion-grid>
  </div>

  <h1>Stacked</h1>
<ion-grid>
  <ion-row>
    <ion-col size="12" size-sm style="background-color: aqua;">
      <div>
        1 of 4
      </div>
    </ion-col>
    <ion-col size="6" size-sm style="background-color: rgb(0, 155, 0);">
      <div>
        2 of 4
      </div>
    </ion-col>
    <ion-col size="14" size-sm style="background-color: rgb(26, 0, 143);">
      <div>
        3 of 4
      </div>
    </ion-col>
    <ion-col size="9" size-sm style="background-color: rgb(92, 0, 0);">
      <div>
        4 of 4
      </div>
    </ion-col>
  </ion-row>
</ion-grid>

<h1>Offsetting</h1>
<ion-grid>
  <ion-row>
    <ion-col size="3" style="background-color: rgb(22, 94, 0);">
      <div>
        1 of 2
      </div>
    </ion-col>
    <ion-col size="3" offset="3" style="background-color: #281a4d;">
      <div>
        2 of 2
      </div>
    </ion-col>
  </ion-row>
</ion-grid>

<h1>Push and Pull</h1>
<ion-grid>
  <ion-row>
    <ion-col size="9" push="3" style="background-color: rgb(131, 0, 131);">
      <div>
        1 of 2
      </div>
    </ion-col>
    <ion-col size="3" pull="9" style="background-color: rgb(138, 0, 0);">
      <div>
        2 of 2
      </div>
    </ion-col>
  </ion-row>
</ion-grid>

</ion-content>



<ion-footer>
  <ion-toolbar>
    <ion-title>mud.hmph@gmail.com  |  @ree.mud</ion-title>
  </ion-toolbar>
</ion-footer>
